services:
  # Servicio 1: Frontend
  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: http://pacheco.chillan.ubiobio.cl:8036
    ports:
      - "8035:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://pacheco.chillan.ubiobio.cl:8036
    depends_on:
      backend:
        condition: service_started

  # Servicio 2: Backend
  backend:
    build:
      context: ./backend
    ports:
      - "8036:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      # Puntero a la base de datos local a través del túnel SSH
      - SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/tareadb?createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update

      # JWT Secretos
      - SECURITY_JWT_SECRET_KEY=${SECURITY_JWT_SECRET_KEY}
      - SECURITY_JWT_EXPIRATION=86400000
      - SECURITY_JWT_REFRESH_EXPIRATION=604800000

      # --- CORREOS ---
      - SPRING_MAIL_USERNAME=${MAIL_USERNAME}
      - SPRING_MAIL_PASSWORD=${MAIL_PASSWORD}
