
.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
}

.formGroup {
  display: flex;
  flex-direction: column;
  position: relative; 
}

.formGroup label {
  font-size: 0.9rem;
  font-weight: 600; 
  color: #1e293b;
  margin-bottom: 0.5rem;
}

/* Ícono posicionado */
.inputIcon {
  position: absolute;
  top: 45px; 
  left: 14px;
  color: #94a3b8; 
  font-size: 0.9rem;
  pointer-events: none; 
}

/* Input (con espacio para el ícono) */
.formGroup input {
  font-size: 1rem;
  padding: 0.8rem 1rem 0.8rem 2.5rem; /* Padding izquierdo para el ícono */
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  background-color: #ffffff; 
  color: #1e293b; 
  transition: border-color 0.2s, box-shadow 0.2s;
}

.formGroup input::placeholder {
  color: #94a3b8; 
}

.formGroup input:focus {
  outline: none;
  border-color: #4f46e5; 
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2); 
}

.formGroup input:focus + .inputIcon {
  color: #4f46e5;
}

/* Estilo de Error */
.formError {
  color: #D8000C;
  background-color: #FFD2D2;
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #D8000C;
  margin-top: -0.5rem;
}

/* Botón de Ingresar */
.submitButton {
  font-size: 1.1rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #4f46e5; 
  border: none;
  padding: 0.9rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.2s;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 15px rgba(79, 70, 229, 0.4); 
  margin-top: 1.5rem;
}

.submitButton:hover:not(:disabled) {
  background-color: #4338ca;
  box-shadow: 0 6px 20px rgba(79, 70, 229, 0.5);
  transform: translateY(-2px);
}

.submitButton:active:not(:disabled) {
  transform: translateY(0) scale(0.99);
}

.submitButton:disabled {
  background-color: #a8b1ee;
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.8;
}

/* Enlace Olvidé mi Contraseña */
.formLinks {
  text-align: center;
  margin-top: 1.5rem;
}

.formLinks a {
  color: #4f46e5; 
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
}

.formLinks a:hover {
  text-decoration: underline;
}



.formSuccess {
  background-color: #dcfce7; 
  color: #166534;            
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #bbf7d0;
  margin-bottom: 1rem;
}